.message {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    
}

.imageAndText img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.text:after {

}

.name {

}

.messageText {

}

.time {

}