.message {
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    
}

.imageAndText img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin: 0 0 0 20px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-image: url(../message2.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding:7px 13px;
}

.text:after {

}

.name {

}

.messageText {

}

.time {

}