.buttonsContainer {
   margin-bottom: 30px;
}

.responseContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
}

.imageContainer {
    margin-right: 9em;
}

.image {
}

.textContainer{
}

.code {
    text-size-adjust:30px;
}

.text {
}
.info {
}