.burgerMenuIcon {
    
}

.header {
    display: flex;
    min-width: 400px;
    justify-content: space-between;  
    margin: 10px 0;  
}

.header h1 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}